<%- model_class = Feature -%>

<ul class="nav nav-list">
  <li class="nav-header">Features</li>
  <li><%= link_to "View Store Features", admin_client_store_path(@client, @store)  %></li>
  <li><%= link_to "Assign New Service", "/path2"  %></li>
  <li><%= link_to "Add New Service", "/path3"  %></li>
</ul>