<%- model_class = Store -%>
<div class="page-header">
  <h1>Self Storage in <%= params[:city] %>, <%= params[:state] %></h1>
</div>

<table id="cities">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:branded_name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stores_in_city.each do |store| %>
      <tr>
        <td><%= store.branded_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
